<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Recipe</title>
  </head>
  <body>
    <h1>Hello {{session['user_name']}}</h1>
    <form action="/update/recipe/{{recipe.id}}" method="post">
      {% for message in get_flashed_messages(category_filter=["name"]) %}
      <p class="alert alert-danger">{{ message }}</p>
      {% endfor %}
      <label for="name">Name : </label>

      <input type="text" name="name" />
      {% for message in get_flashed_messages(category_filter=["description"]) %}
      <p class="alert alert-danger">{{ message }}</p>
      {% endfor %}
      <label for="description">Description : </label>
      <textarea name="description" cols="30" rows="10"></textarea>
      {% for message in get_flashed_messages(category_filter=["instruction"]) %}
      <p class="alert alert-danger">{{ message }}</p>
      {% endfor %}
      <label for="instruction">Instructions : </label>
      <textarea name="instruction" cols="30" rows="10"></textarea>
      {% for message in get_flashed_messages(category_filter=["made_on"]) %}
      <p class="alert alert-danger">{{ message }}</p>
      {% endfor %}
      <label for="made_on">Date Made On : </label>
      <input type="date" name="made_on" />
      {% for message in get_flashed_messages(category_filter=["under_30"]) %}
      <p class="alert alert-danger">{{ message }}</p>
      {% endfor %}
      <label for="under_30">Under 30 minutes?</label>
      <input type="radio" id="1" name="under_30" value="1" checked />
      <label for="1">Yes</label>
      <input type="radio" id="0" name="under_30" value="0" />
      <label for="0">No</label>
      <input type="submit" value="Edit" />
    </form>
  </body>
</html>
